.bg-1{
position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
       

}


/* BADGE */
.badge-style {
    position: absolute;
    right: -100px;
    top: -100px;
    width: 250px;
}


/* NEWSLETTER SECTION CSS */
.subscribe_form {
	width: 100%;
	height: 60px;
	position: relative;
	background: #ffffff;
	margin-top: 30px;
}

.subscribe_form input {
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 700px;
	height: 100%;
	background: transparent;
	border: transparent;
	padding-left: 20px;
}

.subscribe_form button {
	width: 150px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: #E95A08;
	color: #ffffff;
	border: transparent;
	font-size: 20px;
	transition: .3s;
}

.subscribe_form button:hover {
	background: #d39957;
}




/* RESPONSIVE */

@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}