.bg-1{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
       

}


.bg-2{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
       
}

.bg-3{
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
       

}